<% if(alertfailure.length>0){%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> <%=alertfailure %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong> </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div> -->