<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Shoppingkart</title>
</head>

<body>
    <div class='container'>
        <button onClick='pay()' class="btn btn-secondary btn-block" id="rzp-button1">Pay</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function pay() {
            axios.post('/order')
                .then((res) => {
                    console.log(res);
                    var options = {
                        "key": "rzp_test_g6xlzomJJhv6EL", // Enter the Key ID generated from the Dashboard 
                        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise 
                        "currency": "INR",
                        "name": "Rose Private Limited",
                        "description": "Test Transaction",
                        "image": "https://example.com/your_logo",
                        "order_id": res.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step1
                        "callback_url": "/order/verify",
                        // "prefill": { "name": "Gaurav Kumar", 
                        // "email": "gaurav.kumar@example.com", 
                        // "contact": "9999999999" },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    };
                    return options;
                })
                .then((options) => {
                    var rzp1 = new Razorpay(options);
                    document.getElementById('rzp-button1').onclick = function(e) {
                        rzp1.open();
                        e.preventDefault();
                    }
                })
                .catch((err) => {
                    console.log(err);
                });
        }
    </script>
</body>

</html>